/*Hi. Before observing the code below, please realize that this is horrendous. Seriously, if you get chills by looking at bad CSS then you will trigger
something in your brain that will live with you for the rest of your life. Keep this in mind when proceeding.*/



@font-face {
    font-family: dotafont;
    src: url(Constantia.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
}

#title {
	font-family: dotafont;
	font-size: 95px;
	text-align: center;
	position: relative;
	color: white;
}

img.center {
	display: block;
	    margin-left: auto;
	    margin-right: auto;
}

#container {
	width: 100%;
	padding: 0;
	margin: 0;
}

#container4buttons {
	margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 40%;
    border-radius: 0px;
    margin-top: 140px;
}


#slogan {
	font-size: 16px;
	text-align: center; 
	position: relative;
	color: white;
}

#copyright {
	position: absolute;
	bottom: 0px;
}

#buttony /*Probably pick better names for these so in the future you don't get uber confused :P */ /*Oh... I never forget things.... never....*/{
	background-color: #000000;
	font-size: 22px;
	font-family: dotafont;
	border-radius: 0px;
}

#buttony1 {
	font-family: dotafont;
	font-size: 30.5px;
	background-color: #CB2322;
}
#buttony2 {
	font-family: dotafont;
	font-size: 30.5px;
	background-color: #3A7736;
}
#buttony3 {
	font-family: dotafont;
	font-size: 30px;
	background-color: #1776A0;
	border-radius: 0px;
}

big-video-wrap{overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:fixed;bottom:20px;padding: 0 20px;width:100%;
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 56px 0 24px;}
#big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}

#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.vjs-big-play-button{display:none !important;}

#yolo /*Just for testing */{
    background: white;
    position: relative;
    opacity: 0.7;
    width: 30%;
    margin-left: 0px;
}

#shit {
	background-color: black;
	position: relative;
	 opacity: 0.7;
}