@font-face {
    font-family: dotafont;
    src: url(../fonts/Constantia.ttf);
}

body {
	background-image: url("../img/dota2background.jpg");
}

#heroName {
	font-family: dotafont;
	color: grey;
	text-align: center;
	font-size: 90px;
}

#heroportrait {
	width: 23%;
	margin: 0 auto;
}

#navbarItems {
	width: 30%;
	margin: 0 auto;
}